<div fxFill
     fxLayout="row"
     fxLayoutAlign="center center"
     class="accounts-background">

    <mat-card class="accounts-panel alpha-background"
              fxFlex="30%"
              fxFlex.md="50%"
              fxFlex.lt-md="80%">

        <mat-card-header>
            <mat-card-title>Flight Finder</mat-card-title>
            <mat-card-subtitle>Find your next flight!</mat-card-subtitle>
        </mat-card-header>

        <mat-divider [inset]="true"></mat-divider>

        <mat-card-content class="accounts-panel-content">

            <!-- LOG IN / REGISTER FORM -->
            <router-outlet></router-outlet>

        </mat-card-content>

    </mat-card>

</div>