.accounts-background {
    background: url('/assets/images/accounts/accounts-background.jpg') no-repeat 50% fixed / cover;
}

.accounts-panel {
    width: 300px;
}

.accounts-panel-content {
    margin-top: 15px;
}

mat-card-header {

    mat-card-title {
        font-size: 30px;
    }
    
    mat-card-subtitle {
        font-size: 18px;
    }
    
}
