<app-loader [isLoading]="isLoading"
            *ngIf="isLoading"></app-loader>

<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
      fxLayout="column"
      fxLayoutGap="10px">

    <!-- FORM CONTROLS -->
    <mat-form-field>
        <input matInput
               placeholder="Name"
               formControlName="name">
        <mat-error *ngIf="formControlHasError('name','required')">
            Please enter your name.
        </mat-error>
        <mat-error *ngIf="formControlHasError('name','minlength')">
            Name must have at least {{validationRules.minLength}} characters.
        </mat-error>
        <mat-error *ngIf="formControlHasError('name','maxlength')">
            Name can not have more than {{validationRules.maxLength}} characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
               placeholder="Surname"
               formControlName="surname">
        <mat-error *ngIf="formControlHasError('surname','required')">
            Please enter your surname.
        </mat-error>
        <mat-error *ngIf="formControlHasError('surname','minlength')">
            Surname must have at least {{validationRules.minLength}} characters.
        </mat-error>
        <mat-error *ngIf="formControlHasError('surname','maxlength')">
            Surname can not have more than {{validationRules.maxLength}} characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="email"
               placeholder="Email"
               formControlName="email">
        <mat-error *ngIf="formControlHasError('email','required')">
            Please enter your email address.
        </mat-error>
        <mat-error *ngIf="formControlHasError('email','email')">
            Please enter a valid email address.
        </mat-error>
        <mat-error *ngIf="formControlHasError('email','maxlength') && !formControlHasError('email','email')">
            Email can not have more than {{validationRules.maxLength}} characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
               placeholder="Username"
               formControlName="username">
        <mat-error *ngIf="formControlHasError('username','required')">
            Please enter a username.
        </mat-error>
        <mat-error *ngIf="formControlHasError('username','minlength')">
            Username must have at least {{validationRules.minLength}} characters.
        </mat-error>
        <mat-error *ngIf="formControlHasError('username','maxlength')">
            Username can not have more than {{validationRules.maxLength}} characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="password"
               placeholder="Password"
               formControlName="password">
        <mat-error *ngIf="formControlHasError('password','required')">
            Please enter a password.
        </mat-error>
        <mat-error *ngIf="formControlHasError('password','pattern')">
            Password include 1 lowercase, 1 uppercase, 1 number and at least 8 characters.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="password"
               placeholder="Confirm Password"
               formControlName="confirmPassword">
        <mat-error *ngIf="formControlHasError('confirmPassword','required')">
            Please confirm your password.
        </mat-error>
        <mat-error *ngIf="formControlHasError('confirmPassword','notEqual') && !formControlHasError('confirmPassword','required')">
            The passwords do not match.
        </mat-error>
    </mat-form-field>
    <!-- /FORM CONTROLS -->

    <mat-divider [inset]="true"></mat-divider>

    <!-- FORM ACTIONS -->
    <div fxLayout="row"
         fxLayoutAlign="end"
         fxLayoutGap="10px">
        <button mat-raised-button
                color="primary"
                type="submit">
            Create Account!
        </button>

        <a mat-raised-button
           routerLink="../"
           color="warn"
           type="button">
            Cancel
        </a>
    </div>
    <!-- /FORM ACTIONS -->

</form>