<div fxLayout="column"
     [style.backgroundImage]="'url(\'/assets/images/flights/flights-background-' + backgroundImageNumber + '.jpg\')'"
     class="container">

    <mat-toolbar class="alpha-background">
        <span>Flight Finder</span>
        <span fxFlex></span>
        <button mat-icon-button
                (click)="onLogOut()">
            <mat-icon color="primary">exit_to_app</mat-icon>
        </button>
    </mat-toolbar>

    <mat-card fxFlex>

        <mat-card-content [fxLayout]="isTableHidden ? 'row' : 'column'"
                          fxLayoutAlign="center">

            <!-- FLIGHT SEARCH PANEL -->
            <mat-expansion-panel [expanded]="isTableHidden"
                                 [disabled]="isTableHidden"
                                 class="flight-search-panel alpha-background"
                                 [ngStyle.gt-xs]="{'margin-top': isTableHidden ? '200px' : '0px'}"
                                 [fxFlex.gt-sm]="isTableHidden ? '50%' : '100%'">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Flight Search
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- FLIGHT SEARCH FORM -->
                <app-flight-search (searchComplete)="onSearchComplete($event)"></app-flight-search>

            </mat-expansion-panel>
            <!-- /FLIGHT SEARCH PANEL -->

            <!-- FLIGHT SEARCH RESULTS -->
            <div fxLayout="column"
                 [fxHide]="isTableHidden"
                 matSort
                 matSortActive="depdate"
                 matSortDirection="asc"
                 [matSortDisableClear]="true"
                 class="mat-elevation-z8">

                <table mat-table
                       [dataSource]="dataSource">

                    <!-- Carrier Name -->
                    <ng-container matColumnDef="airline">
                        <th mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header> Carrier </th>
                        <td mat-cell
                            *matCellDef="let flight"> {{flight.airline}} </td>
                    </ng-container>

                    <!-- Departure Date -->
                    <ng-container matColumnDef="depdate">
                        <th mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header> Departs </th>
                        <td mat-cell
                            *matCellDef="let flight">
                            {{flight.depdate | amDateFormat:depDateFormat}}
                        </td>
                    </ng-container>

                    <!-- Arrival Date -->
                    <ng-container matColumnDef="arrdate">
                        <th mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header> Arrives </th>
                        <td mat-cell
                            *matCellDef="let flight">
                            {{flight.arrdate | amDateFormat:arrDateFormat(flight.depdate, flight.arrdate)}}
                        </td>
                    </ng-container>

                    <!-- Duration -->
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header> Flight Duration </th>
                        <td mat-cell
                            *matCellDef="let flight"> {{flight.duration}} </td>
                    </ng-container>

                    <!-- Number of Stops -->
                    <ng-container matColumnDef="stops">
                        <th mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header> Number of Stops </th>
                        <td mat-cell
                            *matCellDef="let flight"> {{flight.stops | flightStops}} </td>
                    </ng-container>

                    <!-- Flight Number -->
                    <ng-container matColumnDef="flightno">
                        <th mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header> Flight Number </th>
                        <td mat-cell
                            *matCellDef="let flight"> {{flight.operatingcarrier | uppercase}}{{flight.flightno}} </td>
                    </ng-container>

                    <!-- Weather Forecast -->
                    <ng-container matColumnDef="weatherForecast">
                        <th mat-header-cell
                            *matHeaderCellDef> Weather Forecast </th>
                        <td mat-cell
                            *matCellDef="let flight">

                            <button mat-icon-button
                                    color="primary"
                                    type="button"
                                    (click)="onClickForecastAction(flight)"
                                    *ngIf="isWithinDays(flight.depdate, 5)">
                                <mat-icon>cloud_queue</mat-icon>
                            </button>

                            <mat-icon *ngIf="!isWithinDays(flight.depdate, 5)"
                                      style="cursor: not-allowed;">cloud_off</mat-icon>

                        </td>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>

                <mat-paginator [pageSize]="15"
                               [pageSizeOptions]="[15, 50, 100]"
                               showFirstLastButtons></mat-paginator>

            </div>
            <!-- /FLIGHT SEARCH RESULTS -->

        </mat-card-content>

    </mat-card>
</div>