mat-card {
    background: none;
    padding-top: 14px;
}

.container {
    background: no-repeat 50% fixed / cover;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

.mat-row {
    height: 45px;
    
    &:nth-child(even) {
        background-color:rgba(#fff, 0.8);
    }
    
    &:nth-child(odd) {
        background-color:rgba(#e8e8e8, 0.8);
    }
}

.mat-table {
    background: rgba(#fff, 0.5);
}

.mat-header-row, .mat-paginator {
    background: rgba(#fff, 0.8);
}

.flight-search-panel {
    position: relative;
    margin-bottom: 14px;
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
    background: none;
}

.mat-expansion-panel-header {
    font-size: 20px;
}
