<mat-list-item>
    <img src="http://openweathermap.org/img/w/{{data.weather[0].icon}}.png"
         class="mat-list-image"
         mat-list-icon>
    <h4 mat-line>{{data.weather[0].description | uppercase}}</h4>
    <p mat-line>
        Temperature<span fxFlex></span>
        {{data.main.temp | kelvinToCelsius}}
    </p>
    <p mat-line>
        Humidity:<span fxFlex></span>
        {{data.main.humidity}}%
    </p>
    <p mat-line>
        Clouds:<span fxFlex></span>
        {{data.clouds.all}}%
    </p>
    <p mat-line>
        Wind Speed:<span fxFlex></span>
        {{data.wind.speed}}m/s
    </p>
    <p mat-line>
        Wind Direction:<span fxFlex></span>
        {{data.wind.deg | number:'1.0-2'}}°
    </p>
</mat-list-item>