<app-loader [isLoading]="isLoading"
            message="Looking through flights..."
            *ngIf="isLoading"></app-loader>

<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
      autocomplete="off"
      fxLayout="row wrap"
      fxLayoutGap="15px grid"
      fxLayout.xs="column"
      fxLayoutGap.xs="15px">

    <mat-form-field fxFlex="calc(50% - 25px)">
        <input matInput
               placeholder="Airport (From)"
               [matAutocomplete]="sourceAirportAutoComplete"
               formControlName="source">
        <mat-autocomplete #sourceAirportAutoComplete="matAutocomplete"
                          autoActiveFirstOption>
            <mat-option *ngFor="let airport of filteredSourceAirportOptions | async"
                        [value]="airport.code">
                <span>{{airport.name}}</span> |
                <small>{{airport.code}}</small>
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formControlHasError('source','required') || formControlHasError('source','requireMatch')">
            Please select an airport to depart from.
        </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
        <input matInput
               placeholder="Airport (Destination)"
               [matAutocomplete]="destinationAirportAutoComplete"
               formControlName="destination">
        <mat-autocomplete #destinationAirportAutoComplete="matAutocomplete"
                          autoActiveFirstOption>
            <mat-option *ngFor="let airport of filteredDestinationAirportOptions | async"
                        [value]="airport.code">
                <span>{{airport.name}}</span> |
                <small>{{airport.code}}</small>
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formControlHasError('destination','required') || formControlHasError('destination','requireMatch')">
            Please select the designated airport.
        </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
        <input matInput
               type="number"
               min="1"
               max="9"
               placeholder="Number of Adults"
               formControlName="adults">
        <mat-error *ngIf="formControlHasError('adults','required')">
            Please enter the number of adults.
        </mat-error>
        <mat-error *ngIf="formControlHasError('adults','min') || formControlHasError('adults','max')">
            Please enter a value between 1 and 9.
        </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
        <input matInput
               type="number"
               min="0"
               max="9"
               placeholder="Number of Children"
               formControlName="children">
        <mat-error *ngIf="formControlHasError('children','min') || formControlHasError('children','max')">
            Please enter a value between 0 and 9.
        </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>Date of Departure</mat-label>
        <input matInput
               [min]="datePicker.validation.minDate"
               [max]="datePicker.validation.maxDate"
               [matDatepicker]="departureDatePicker"
               placeholder="{{datePicker.inputExamples.depDate}}"
               formControlName="dateofdeparture">
        <mat-datepicker-toggle matSuffix
                               [for]="departureDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #departureDatePicker></mat-datepicker>
        <mat-error *ngIf="formControlHasError('dateofdeparture','required')">
            Please select a date to depart on.
        </mat-error>
        <mat-error *ngIf="formControlHasError('dateofdeparture','matDatepickerMin') || formControlHasError('dateofdeparture','matDatepickerMax')">
            Please select a date between
            {{datePicker.validation.minDate | amDateFormat:datePicker.format}}
            and
            {{datePicker.validation.maxDate | amDateFormat:datePicker.format}}.
        </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>Date of Arrival</mat-label>
        <input matInput
               [min]="dateOfDepartureFormControl.value"
               [max]="datePicker.validation.maxDate"
               [matDatepicker]="arrivalDatePicker"
               placeholder="{{datePicker.inputExamples.arrDate}}"
               formControlName="dateofarrival">
        <mat-datepicker-toggle matSuffix
                               [for]="arrivalDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #arrivalDatePicker></mat-datepicker>
        <mat-error *ngIf="formControlHasError('dateofarrival','matDatepickerMin') || formControlHasError('dateofarrival','matDatepickerMax')">
            Please select a date between
            {{dateOfDepartureFormControl.value | amDateFormat:datePicker.format}}
            and
            {{datePicker.validation.maxDate | amDateFormat:datePicker.format}}.
        </mat-error>
    </mat-form-field>

    <div fxLayout="row"
         fxLayoutAlign="center"
         fxFlex="100%">

        <button mat-raised-button
                color="primary"
                type="submit"
                fxFlex="40%"
                fxFlex.xs="100%">
            Search
        </button>

    </div>

</form>