<h1 class="panel-title">Weather Forecast</h1>

<p *ngIf="!isAnyForecastAvailable">No forecast data could be obtained.</p>

<mat-accordion *ngIf="isAnyForecastAvailable">

    <mat-expansion-panel [disabled]="!isDepartureForecastAvailable"
                         expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span *ngIf="isDepartureForecastAvailable">
                    Forecast for Date of Departure:&nbsp;<em>{{forecasts.source.departure.dt_txt}}</em>
                </span>
                <span *ngIf="!isDepartureForecastAvailable">
                    <ng-container [ngTemplateOutlet]="unavailableForecastWarn"></ng-container>
                </span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list *ngIf="isDepartureForecastAvailable">
            <h1 mat-subheader>{{forecasts.source.cityName}}</h1>
            <app-weather-forecast-item [data]="forecasts.source.departure"></app-weather-forecast-item>
            <mat-divider></mat-divider>
            <h1 mat-subheader>{{forecasts.destination.cityName}}</h1>
            <app-weather-forecast-item [data]="forecasts.destination.departure"></app-weather-forecast-item>
        </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="!isArrivalForecastAvailable">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span *ngIf="isArrivalForecastAvailable">
                    Forecast for Date of Arrival:&nbsp;<em>{{forecasts.destination.arrival.dt_txt}}</em>
                </span>
                <span *ngIf="!isArrivalForecastAvailable">
                    <ng-container [ngTemplateOutlet]="unavailableForecastWarn"></ng-container>
                </span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list *ngIf="isArrivalForecastAvailable">
            <h1 mat-subheader>{{forecasts.destination.cityName}}</h1>
            <app-weather-forecast-item [data]="forecasts.destination.arrival"></app-weather-forecast-item>
            <mat-divider></mat-divider>
            <h1 mat-subheader>{{forecasts.source.cityName}}</h1>
            <app-weather-forecast-item [data]="forecasts.source.arrival"></app-weather-forecast-item>
        </mat-list>
    </mat-expansion-panel>

</mat-accordion>

<!-- Content projected into ng-containers with templateOutlet specifying this template's local reference -->
<ng-template #unavailableForecastWarn>
    UNAVAILABLE
</ng-template>