<app-loader [isLoading]="isLoading"
            *ngIf="isLoading"></app-loader>

<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
      fxLayout="column"
      fxLayoutGap="10px">

    <mat-form-field>
        <input matInput
               placeholder="Username"
               formControlName="username">
        <mat-error *ngIf="formControlHasError('username','required')">
            Please enter a username.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="password"
               placeholder="Password"
               formControlName="password">
        <mat-error *ngIf="formControlHasError('password','required')">
            Please enter a password.
        </mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="rememberMe">
        Remember Me
    </mat-slide-toggle>

    <mat-divider [inset]="true"></mat-divider>

    <div fxLayout="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px">

        <button mat-flat-button
                color="primary"
                type="submit">
            Log in!
        </button>

        <a mat-flat-button
           routerLink="../register"
           color="accent"
           type="submit">
            Create an account!
        </a>

    </div>

</form>