<h1>Testing Page for Authorized Request to Flight Search API</h1>

<app-loader *ngIf="isLoading"
            [isLoading]="isLoading"
            message="Requesting Authorized resource..."></app-loader>

<p *ngIf="response">Response: {{response}}</p>