.loading-container {
  cursor: wait;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(#e8e8e8, 0.5);
}

.message-container {
  @extend .pulse;
  padding: 9px;
  background: rgba(#fff, 0.5);
}

.message {
  font-size: 15px;
}

.pulse{
	animation: pulse linear 4s infinite;
}

@keyframes pulse {
	0% { opacity: 1; } 
	25% { opacity: .1; }
	50% { opacity: 1; }
	100% { opacity: 1; }
}