<div class="loading-container"
     *ngIf="isLoading"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="20px"
     fxFill>
  <mat-spinner [diameter]="32 * size"></mat-spinner>
  <mat-card *ngIf="message"
            class="message-container">
    <span class="message">{{message}}</span>
  </mat-card>
</div>