/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/* Global css classes */
.alpha-background {
    background: rgba(#fff, 0.8);
}

/* Material override */
.mat-expansion-panel-header[aria-disabled=true] {
    color: rgba(0,0,0,.87); // Keep same font color when expansion panel; is disabled
}

.snackbar-notification {
    background-color: #fff;
    color: #000;
}
